.Package label, .Package .package_select_box, .Package .price_input{
  margin-bottom: unset;
}
.Package .innercontainer.card{
  width: 580px;
}
.Package .innercontainer.card h4, .Package .package_submit_div{
  text-align: center;
}
.Package .innercontainer.card{
  padding: 10px;
  margin: auto;
  width: 580px;
}
@media only screen and (max-width: 768px) {
  .Package .innercontainer.card {
    width: 100%;
  }
}
